body {
    background: linear-gradient(to left, #36d1dc, #5b86e5);
}

h1 {
    font-family: "Lobster", sans-serif;
    text-align: center;
    font-weight: 400;
    text-shadow: 0.25em 0.25em 0em rgba(0, 0, 255, 0.2); 
}

#logo-cyu:hover {
    box-shadow: 0.375em 0.375em 1.5625em rgba(0, 0, 0, 0.7); 
    border-radius: 0.5em;
}

.liens {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 3.125em; 

.liens li a {
    display: block;
    padding: 0.9375em 1.5625em; 
    background-color: #eee;
    text-decoration: none;
    color: black;
    margin-right: 2.8125em; 
    margin-top: 1.25em; 
    border-radius: 0.3125em; 

.liens li a:hover {
    background-color: #0df2f2;
    color: #f98006;
    box-shadow: 0.375em 0.375em 1.5625em rgba(243, 199, 133, 0.925);
}

h2 {
    font-family: "Crimson Text", sans-serif;
}

#dev {
    border-radius: 1.5625em; 
}

.important {
    font-weight: 1000;
}

.bloc,
.bloc-css {
    display: flex;
    align-items: center;
}

.bloc img {
    width: 15.625em; 
    margin-left: 4.375em; 
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

.bloc-css img {
    width: 15.625em; 
    margin-left: 6.25em; 
    border-radius: 1.5625em; 
}

footer {
    font-style: italic;
    font-weight: 950;
}

.conclusion-bloc {
    display: flex;
    gap: 2.5em; 
    align-items: flex-start;
}

.texte {
    width: 60%;
}

.tableau {
    width: 40%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 0.0625em solid #ccc; 
    border-radius: 0.625em; 
    overflow: hidden;
}

th {
    background: #222;
    color: white;
    padding: 0.75em; 
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.0625em; 
}

td {
    padding: 0.75em; 
    text-align: center;
}

td, th {
    border-bottom: 0.0625em solid #ddd; 
}

tr:hover td {
    background: #e9f2ff;
}



